.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  @media (min-width: em(750px)) {
  }
}

.right {
  display: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  @media (min-width: $mantine-breakpoint-md) {
    display: block;
  }
}

.left {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  flex: 1;
}

.card {
  max-width: 28rem;
  width: 100%;
  padding: 2rem;
}

.image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  position: relative;
}
